body {
	overflow: hidden;
	height: 95vh;
	background-color: rgb(40, 90, 119);
	background-image: url(../img/wallp.webp);
	background-size: cover;
	background-repeat: no-repeat;

}

h1 {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0.3em;
	font-size: 5.5em;
	color: rgb(204, 226, 240);
	text-decoration: underline;
}

main {
	width: 25rem;
	height: 25em;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	color: rgb(40, 90, 119);
}

main div {
	width: calc((100% / 3) - 1px);
	height: calc((100% / 3) - 1px);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	background: gainsboro;
	/* color: #40bb54; */
	border-radius: 3px;
}

